@media (min-width: 480px){
    .redirect{
        width: 30%;
        text-align: center;
    }
}
@media (min-width: 768px){
    .logo-footer-container img{
        width: 8em;
    }
    .nav-footer-link{
        font-size: 18px;
    }
    .redes{
        display: flex;
        .red-link{
            font-size: 24px;
        }
    }
}
@media (min-width: 1024px){
    section{
        padding: 2em;
    }
    .card:hover{
        transform: scale(1.1,1.1);
    }
    .header{
        .logo-container{
            width: 6em;
            height: 6em;
            margin-left: 2em;
            img{
                transition: transform .5s;
            }
            &:hover img{
                transform: scale(1.2,1.2);
            }
        }
        .menu{
            margin: 0;
            margin-right: 2em;
            height: 100%;
            .fa-solid{
                display: none;
            }
            .nav{
                position: initial;
                width: 100%;
                height: 100%;
                .nav-bar{
                    display: flex;
                    align-items: end;
                    .nav-item{
                        padding: 0;
                        margin: 0 0 .5em 2em;
                        .nav-link{
                            position: relative;
                            border-bottom: none;
                            &::after{
                                content: '';
                                display: block;
                                position: absolute;
                                width: 0%;
                                height: 1px;
                                background-color: var(--sand);
                                transition: width .5s;
                            }
                        }
                        &:hover .nav-link::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .footer{
        .nav-footer{
            .nav-bar-footer{
                .nav-footer-item{
                    .nav-footer-link{
                        font-size: 22px;
                        transition: color .5s;
                    } 
                    &:hover .nav-footer-link{
                        color: var(--sand-hover);
                    }   
                }
            }
        }
        .logo-footer-container{ 
            img{
                width: 8em;
                transition: transform .5s;
                &:hover{
                    transform: scale(1.2,1.2);
                }
            }
        }
        .contacto-container{
            .redes{
                .red-item{
                    .red-link{
                        font-size: 32px;
                        transition: color .5s;
                    }
                    &:hover .red-link{
                        color: var(--sand-hover);
                    }
                }
            }
        }
    }
    .portada{
        height: 300px;
    }
    .redirect-container{
        display: none;
    }
    #contacto{
        display: flex;
        .form-container{
            width: 50%;
            padding: 2em 6em;
            input[type="submit"]:hover{
                background-color: #ead7c874;
            }
        }
    }
    #contacto-footer{
        position: initial;
    }
    .line{
        position: absolute;
        height: 90%;
        border: 1px solid #0000003f;
        box-shadow: 0 0 5px #0000006d;
    }
    .especialidades, .meals{
        .especialidades-title{
            font-size: 24px;
        }
        .boxes-container{
            grid-template-columns: repeat(3, 1fr);
            .food-box, .local{
                margin: 2em;
            }
        }
    }
    .locales-container{
        grid-template-columns: repeat(3, 1fr);
    }
}